{% extends "base.html" %} {% block title%}Welcome{% endblock %} {% block content%}
<section>
    <div id="collage">
        <h1 id="collage-header"> Top Artists </h1>

        <img src={{url_for( 'static', filename='images/collage.png' )}} alt="">

        <div class="container-fluid text-center position">
            <button id="abtn" class="btn btn-dark" type="button" name="button">Change Background</button>
        </div>
    </div>
    <!-- <div class="container-fluid">
        {% for artist in artists['items'] %}
        <p>Artist: {{artist.name}}</p>
        {% endfor %}
    </div> -->
</section>

{% endblock %}